  <footer class="site-footer shell">
    <a class="wordmark wordmark-footer" href="{{HOME_HREF}}" aria-label="{{HOME_ARIA}}">
      <img class="wordmark-mark" src="/logo-mark.svg" width="28" height="28" alt="">
      <span>Orbi</span>
    </a>
    <p class="orbi-site-footer-p">{{TAGLINE}}</p>
    <nav aria-label="{{FOOTER_NAV_ARIA}}">
      <ul>
        <li><a href="{{DOCS_HREF}}">{{DOCS_LABEL}}</a></li>
        <li><a href="{{CLOUD_DOCS_HREF}}">{{CLOUD_DOCS_LABEL}}</a></li>
        <li><a href="{{CLOUD_HREF}}">{{CLOUD_LABEL}}</a></li>
        <li><a href="{{COST_HREF}}">{{COST_LABEL}}</a></li>
        <li><a href="{{EVIDENCE_HREF}}">{{EVIDENCE_LABEL}}</a></li>
        <li><a href="{{COMPARE_HREF}}">{{COMPARE_LABEL}}</a></li>
      </ul>
      <ul>
        <li><a href="https://github.com/orbi-build/orbi">GitHub</a></li>
        <li><a href="https://x.com/xqliu" rel="me">X</a></li>
        <li><a href="https://www.youtube.com/@orbibuild" rel="me">YouTube</a></li>
        <li><a href="{{FAQ_HREF}}">{{FAQ_LABEL}}</a></li>
      </ul>
      <ul>
        <li><a href="https://github.com/orbi-build/orbi/releases">{{RELEASES_LABEL}}</a></li>
        <li><a href="https://status.orbi.build">{{STATUS_LABEL}}</a></li>
        <li><a href="{{PRIVACY_HREF}}">{{PRIVACY_LABEL}}</a></li>
        <li><a href="{{TERMS_HREF}}">{{TERMS_LABEL}}</a></li>
      </ul>
      <ul>
        <li><a href="{{SUPPORT_HREF}}">{{SUPPORT_LABEL}}</a></li>
        <li><a href="{{DIRECTION_HREF}}">{{DIRECTION_LABEL}}</a></li>
        <li><a href="https://github.com/orbi-build/orbi/milestones">{{ROADMAP_LABEL}}</a></li>
        <li><a href="{{LANG_SWITCH_HREF}}" lang="{{OTHER_LANG_ATTR}}">{{OTHER_LANG_LABEL}}</a></li>
        <li><a href="https://www.opensourcealternatives.to/" rel="noopener">Open Source Alternatives</a></li>
      </ul>
    </nav>
    <nav class="footer-compare" aria-label="{{DEEP_ARIA}}">
      <span>{{DEEP_SPAN}}</span>
{{DEEP_LINKS}}
    </nav>
  </footer>
