  <div class="night nav-shell">
    <header class="site-header">
      <a class="wordmark" href="{{HOME_HREF}}" aria-label="{{HOME_ARIA}}">
        <img class="wordmark-mark" src="/logo-mark-on-dark.svg" width="28" height="28" alt="">
        <span>Orbi</span>
      </a>
      <button class="menu-toggle" type="button" aria-expanded="false" aria-controls="{{NAV_ID}}" aria-label="{{TOGGLE_ARIA}}" data-label-open="{{TOGGLE_OPEN}}" data-label-close="{{TOGGLE_CLOSE}}" data-menu-toggle>
        <span aria-hidden="true"><i></i><i></i><i></i></span>
      </button>
      <nav id="{{NAV_ID}}" aria-label="{{NAV_ARIA}}" data-primary-nav>
        <a href="{{SYSTEM_HREF}}">{{SYSTEM_LABEL}}</a>
        <a href="{{COST_HREF}}"{{COST_ATTRS}}>{{COST_LABEL}}</a>
        <a href="{{DOCS_HREF}}">{{DOCS_LABEL}}</a>
        <a data-cta="nav-github" href="https://github.com/orbi-build/orbi">GitHub</a>
        <a data-cta="nav-signin" href="{{SIGNIN_HREF}}">{{SIGNIN_LABEL}}</a>
        <a class="nav-apply" data-cta="nav-start" href="{{CLOUD_HREF}}">{{APPLY_LABEL}}</a>
      </nav>
    </header>
  </div>
